html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  all: unset;
}

/* End Css Reset */

/* Start Nav */
nav {
  display: flex;
  align-items: center;
  /* position: fixed; */
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin-top: 10px;
  padding: 10px 100px;
  font-size: 14px;
}

.nav-left {
  font-family: "Source Sans 3", sans-serif;
  display: flex;
  align-items: center;
}

nav a {
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 70px;
  font-weight: 700;
  font-size: 16px;
  color: #101c45;
}

.nav-left ul {
  display: flex;
  gap: 50px;
}

.active {
  font-weight: 600;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: #101c45;
}

.nav-right .link-book {
  border: 1px solid #101c45;
  padding: 8px 10px;
}

/* End Nav */

/* Start Main */

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  margin-top: 40px;
}

.main-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  color: #101c45;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

.main-left .slogan {
  font-size: 46px;
  font-weight: 500;
  letter-spacing: 0.025em;
  word-spacing: 0.025em;
}

.main-left .description {
  margin-bottom: 20px;
}

.main-left button {
  width: fit-content;
  cursor: pointer;
  background: #203271;
  padding: 15px 35px;
  border: none;
  color: white;
  animation: 10s ease-in-out;
}

.main-left button:hover {
  background: #13245c;
}

/* End Main */
